@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,700');


* {
    /*For margin the board*/
    margin: 0px 0px 0px 0px;
}

body {
    /*Setup middle*/
    background-color: #303032;
    font-family: Raleway, Open Sans, Droid Sans, Roboto, arial, sans-serif;
    color: #454041;
    text-align: center;
}

input {
    /*What user input*/
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border: 1px solid white;
    height: 34px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    transition: 0.5s;
}

a {
    /*Top of the board*/
    color: white;
    text-decoration: none;
}


h1 {
    /*h1 specific*/
    font-family: Raleway, Open Sans, Droid Sans, Roboto, arial, sans-serif;
    color: #ffffff;
    font-size: 3.1rem;
    display: inline-block;
    padding: 1.2rem 2.1rem 1.4rem;
    border-radius: 1rem;
    z-index: 1;
    position: relative;
}

table {
    /*For the board*/
    font-family: Raleway, Open Sans, Droid Sans, Roboto, arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 0.2rem solid #c0c0c0;
    padding: 1.2rem 2.1rem 1.4rem;
    border-radius: 2rem;
}

th {
    /*Top of the board*/
    text-align: center;
    border: 1px solid #dddddd;
    padding: 8px;
}

td {
    /*API info*/
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

li {
    /*Delete point in front of li*/
    list-style-type: none;
}



