<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>CookTime</title>
    <link rel="stylesheet" href="/static/assets/css/header.css"/>
    <link rel="stylesheet" href="/static/assets/css/card.css"/>
    <link rel="stylesheet" href="/static/assets/css/footer.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<main>
    <div class="header">
        <a href="/" class="logo">CookTime</a>
        <div class="header-right">
            <a class="title" href="/">Home</a>
            <a class="search" href="/search">Search</a>
            <a class="random" href="/random">Random</a>
            <a class="project" href="https://github.com/x33lyS/CookTime.git" target="_blank">Project</a>
        </div>
    </div>
    <div class="grid">
        <section class="cards">
            {{range .}}
            <div class="card">
                <div class="card__image-container">
                    <a href="/about/{{ .ID}}">
                        <img src="{{.Image}}" alt="Recipe's image">
                    </a>
                </div>
                <div class="card__content">
                    <p class="card__title text--medium">
                        {{.Name}}
                    </p>
                    <div class="card__info">
                        <a href="/about/{{ .ID}}">
                            <button class="about-button">Info</button>
                        </a>
                    </div>
                </div>
            </div>
            {{end}}
        </section>
    </div>
</main>
<div class="footer">
    <div>
        <a href="https://github.com/x33lyS" target="_blank" class="fab fa-github"></a>
        <a href="https://www.linkedin.com/in/florian-lejosne/" target="_blank" class="fab fa-linkedin"></a>
        <a href="https://discord.gg/8fKKQndCaJ" target="_blank" class="fab fa-discord"></a>
        <a href="https://www.instagram.com/florian.ljsne/" target="_blank" class="fab fa-instagram"></a>
    </div>
</div>
</body>
</html>
