<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="/static/assets/css/header.css"/>
    <link rel="stylesheet" href="/static/assets/css/search.css">
    <link rel="stylesheet" href="/static/assets/css/footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>CookTime</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/assets/js/search.js"></script>
</head>
<body>
<div class="header">
    <a href="/" class="logo">CookTime</a>
    <div class="header-right">
        <a href="/">Home</a>
        <a href="/search">Search</a>
        <a href="/filter/">Filter</a>
        <a href="https://groupietrackers.herokuapp.com/api" target="_blank">API</a>
        <a href="https://rickandmortyapi.com/" target="_blank">Other API</a>
        <a href="https://github.com/x33lyS/groupie-tracker.git" target="_blank">About this project</a>
    </div>
</div>

<h1>Search Table</h1>
<br><br>
<input id="myInput" type="text" placeholder="Search...">
<br><br>

<table>
    <thead>
    <tr>
        <th><a>ID</a></th>
        <th><a>Recette</a></th>
        <th><a>Ingrédients</a></th>
        <th><a>Saison</a></th>
        <th><a>Température</a></th>
        <th><a>Nombre de personnes</a></th>
        <th><a>Temps de cuisson et preparation</a></th>

    </tr>
    </thead>
    <tbody id="myTable">
    {{range .}}
    <tr>
        <td>
            <a href="/about/{{.ID}}"/>
            {{.ID}}
        </td>
        <td>
            <a href="/about/{{.ID}}"/>
            {{.Name}}
        </td>
        <td>
            <ul>
                <a href="/about/{{.ID}}"/>
                {{range .Ingredient}}
                <li>{{ . }}</li>
                {{end}}
            </ul>
        </td>
        <td>
            <ul>
                <a href="/about/{{.ID}}"/>
                {{range .Saison}}
                <li>{{.}}</li>
                {{end}}
            </ul>
        </td>
        <td>
            <a href="/about/{{ .ID}}"/>
            {{.Type}}
        </td>
        <td>
            <a href="/about/{{ .ID}}"/>
            {{.Personne}}
        </td>
        <td>
            <a href="/about/{{ .ID}}"/>
            {{.TpsCuisson}} de cuisson <br/>
            {{.TpsPreparation}} de preparation
        </td>
    </tr>
    {{end}}
    </tbody>
</table>


</body>
<div class="footer">
    <div>
        <a href="https://github.com/x33lyS" target="_blank" class="fab fa-github"></a>
        <a href="https://www.linkedin.com/in/florian-lejosne/" target="_blank" class="fab fa-linkedin"></a>
        <a href="https://discord.gg/8fKKQndCaJ" target="_blank" class="fab fa-discord"></a>
        <a href="https://www.instagram.com/florian.ljsne/" target="_blank" class="fab fa-instagram"></a>
    </div>
</div>
</html>
